.l-container{
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.l-section{
   margin-bottom: 2rem;
   @include from(l){
       margin-bottom: 4rem;
   }
   &--diagonal{
       position: relative;
       &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: var(--z-back);
        background-color: rgb(0, 234, 255);
        transform: skewY(-1deg) scaleY(1.05);
        @include from(l){
            transform: skewY(-2deg) scaleY(1.1);
        }
        
       }
   } 
}
.center-block{
    margin-left:auto;
    margin-right: auto;
}
.center-text{
text-align: center;    
}
@for $i from 1 through 20 {
    .s-#{$i*5}{
        width: #{$i*5%};
    }
}
@include from(l){
    @for $i from 1 through 20 {
        .l-#{$i*5}{
            width: #{$i*5%};
        }
    }
}