.footer {
  font-size: 2em;
  background-color: burlywood;
  width: calc(100vw - var(--scroll-bar)); }

:root {
  --scroll-bar:13px; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.l-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  height: 4rem;
  border-bottom: 1px solid #ccc; }

.main-header__block {
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.main-logo {
  height: 2rem; }

.main-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex; }
