$max-width:1200px;
$border-color:#ccc;
$text-color:#000;
$dark-color:rgba(0, 0, 0, 0.514);
$header-height:4rem;

.footer{
    font-size: 2em;
    background-color: burlywood;
    width: calc(100vw - var(--scroll-bar));
}