$max-width:1200px;
$color-border:#ccc;
$text-color:red;
$dark-color:rgba(0, 0, 0, 0.514);
$header-height:4rem;


$breakpoints:(l:960px);

.footer{
    font-size: 2em;
    background-color: burlywood;
    width: calc(100vw - var(--scroll-bar));
}
:root{
    --color-first:#003c92;
    --color-border:#000;
    --color-alert:#ff3c32;
}
:root{
    --z-back:-10;
    --z-standar:1;
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
}
:root{
    --h1-font-size:2rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --body-font-size:.9rem;
    --small-font-size:.75rem;

    @include from(l){
        --h1-font-size:2.5rem;
        --h2-font-size:1.75rem;
        --h3-font-size:1.5rem;
        --body-font-size:1rem;
        --small-font-size:.8rem;
    }
}