@import "config/mixins";
@import "config/variables";
@import "base/base";
@import "layout/layout";
@import "components/header";
@import "components/menu";
@import "components/banner";
@import "components/card";
@import "theme/theme";

// .header{
//     background-color: coral;
//     color:#fff;
//     text-align: center;
//     padding: 5vmin 0;
// }
// .main-grid{
//     display: grid;
//     grid-gap: 1em;
//     grid-template-columns: repeat(auto-fill,minmax(350px,1fr))
// }
// .card__item{
//     font-size: 20px;
//     color: #fff;
//     background-color: blueviolet;
// }

// body{
//     background-color: rgb(255, 0, 128);
//     @include media-queries($extra-small){
//         background-color: aqua;
//     }
//     @include media-queries($small){
//         background-color: rgb(47, 0, 255);
//     }
//     @include media-queries($medium){
//         background-color: rgb(38, 255, 0);
//     }
//     @include media-queries($large){
//         background-color: rgb(255, 94, 0);
//     }
//     @include media-queries($extra-large){
//         background-color: rgb(255, 0, 170);
//     }
// }
